auto_request_accessToken_WML_flow
[{"id":"94e1ecc4.8ac65","type":"function","z":"1634a85d.849398","name":"build table","func":"var deviceId   = msg.req.params.deviceId;\n\nvar lkm = { last: global.get('dev-' + deviceId ) };\n\nmsg.headers = {\"ContentType\" : \"application/json\",\n                \"Accept\" : \"application/json\",\n                \"Authorization\" : \"Bearer \" + msg.payload.token\n};\n\nmsg.url = 'https://ibm-watson-ml.mybluemix.net/v3/wml_instances/<instance name>/published_models/759c93ed-71b4-46b4-929c-679e6ac2bdd4/deployments/2fca8658-adfc-4da3-8f36-a0064c603137/online';\n\nmsg.method = 'POST';\n\nmsg.payload = {\n    \"fields\":[\"VIBRATION\",\"TEMPERATURE\"],\"values\":[[lkm.last.s3,lkm.last.t]]\n};\n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":270,"y":260,"wires":[["aa3173fb.aea38"]]},{"id":"aa3173fb.aea38","type":"http request","z":"1634a85d.849398","name":"Machine Learning","method":"use","ret":"txt","url":"","tls":"","x":470,"y":260,"wires":[["13259600.a5d21a"]]},{"id":"13259600.a5d21a","type":"json","z":"1634a85d.849398","name":"","pretty":false,"x":630,"y":260,"wires":[[]]},{"id":"7036e7eb.3598a8","type":"http request","z":"1634a85d.849398","name":"Get Auth Token","method":"use","ret":"obj","url":"","tls":"","x":520,"y":160,"wires":[["94e1ecc4.8ac65"]]},{"id":"b34d0302.2ed19","type":"function","z":"1634a85d.849398","name":"Format Token Request","func":"msg.url = 'https://ibm-watson-ml.mybluemix.net/v3/identity/token';\n\nvar username = \"username\";\nvar password = \"password\";\n\n// Note: node doesn't have the btoa module built in, so converting from a buffer object\nvar base64password = Buffer.from(username + \":\" + password, 'latin1').toString('base64');\n\nmsg.headers = {\n    \"Authorization\": \"Basic \" + base64password,\n    \"Content-Type\" :\"application/json;charset=UTF-8\"\n}\n\nmsg.method = 'GET';\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":160,"wires":[["7036e7eb.3598a8"]]}]
