DB2_query_and_WML_api_call
[{"id":"14615f7e.496f81","type":"http request","z":"e8005bc7.a02108","name":"Machine Learning","method":"POST","ret":"txt","url":"<wml api scoring api end-point>","tls":"","x":730,"y":80,"wires":[["51cedcb5.bba5e4"]]},{"id":"446c05b6.d49e9c","type":"debug","z":"e8005bc7.a02108","name":"","active":true,"console":false,"complete":"payload","x":730,"y":140,"wires":[]},{"id":"546dba4f.e068d4","type":"dashDB in","z":"e8005bc7.a02108","dashDB":"22e083dd.897d8c","service":"_ext_","query":"SELECT * FROM DASH5259.TESTING","params":"","name":"small_set db","x":290,"y":80,"wires":[["ab580bdd.138e98"]]},{"id":"f57d340e.55a738","type":"inject","z":"e8005bc7.a02108","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":80,"wires":[["546dba4f.e068d4"]]},{"id":"ab580bdd.138e98","type":"function","z":"e8005bc7.a02108","name":"building WML api call","func":"msg.headers = \n    {\"Content-Type\": \"application/json\",\n    \"Accept\":\"application/json\",\n    \"Authorization\":\"Bearer <access token>\"};\n    \ndict = msg.payload\n\nvar fields = []\nvar values = []\nvar masterDict = dict[2]\nvar currentIndValue\nvar indValues = []\nvar typeLong = \n\ndictKeys = Object.keys(dict[2])\ndictKeys = dictKeys.slice(0,14)\nfields.push(dictKeys)\n\n/*writing values into an array; for some reason\nObject.values doesn't work even though Object.keys does)*/\n\nfor (var i=0;i<dict.length;i++){    \n    for (var j = 0;j<dictKeys.length;j++) {\n        currentIndValue = dict[i][dictKeys[j]]\n        if (currentIndValue === null) {\n            currentIndValue = -10101\n            }\n        indValues.push(currentIndValue)}\n/*        indValues.push(dict[i][dictKeys[j]])}*/\n/*        for (var i = 0;i<indValues.length;i++){\n            if (indValues[i] === null) {\n                indValues[i] = \"\"\n            }\n        }*/\n    values.push(indValues)\n    indValues = []\n    }\n\nmsg.payload = {\n    \"fields\":fields[0],\n    \"values\":values\n    }\n\n/*var testValues2 = []\ntestValues2 = [[\"2018-02-01 00:00:00\",\"677\",\"0\",\"8.030000\",\"340.300000\",\"65.300000\",\"0\",\"0\",\"\",\"\",\"\",\"\",\"\",\"\"],[\"2018-02-01 00:05:00\",\"680\",\"0\",\"8.040000\",\"340.200000\",\"65.100000\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\"]]*/\n\n/*msg.payload = {\n    \"fields\":fields[0],\n    \"values\":testValues2\n    }*/\n    \n/*msg.payload = testValues2*/\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":80,"wires":[["14615f7e.496f81"]]},{"id":"51cedcb5.bba5e4","type":"json","z":"e8005bc7.a02108","name":"response string->json","pretty":false,"x":500,"y":140,"wires":[["446c05b6.d49e9c"]]},{"id":"22e083dd.897d8c","type":"dashDB","z":"","hostname":"dashdb-entry-yp-dal09-08.services.dal.bluemix.net","db":"BLUDB","port":"50000","name":"Dillards_db"}]
